.bidding-page{ 
  &_art-image {
    max-width: 10rem;
    margin: 0 auto;
  }
  &_bid-input {
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    &--default {
      color: lightgray;
    }
    &:focus, &:active {
      outline: none;
    }
  }
  &_art-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &_submit-button-wrapper {
    margin-top: 1rem;
  }
}

.bid-stream-bid {
  display: flex;
  justify-content: center;
  p {
    margin: 0 .25rem;
  }
  &--own-bid {
    display: flex;
  justify-content: center;
    color: rgb(15, 218, 133);
    font-weight: bold;
    p {
      margin: 0 .25rem;
    }
  }
}