.file-uploader {
  margin: 1.5rem auto; 
  border: 1px dashed gray; 
  max-width: 200px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
  &_summary {
    margin: 1rem 0;
  }
  &_image-preview {
    max-width: 12rem;
  }
  &_container {
    margin: 1rem 0;
    overflow: hidden;
  }
  &_default-overlay {
    width: 100%;
    top: -2rem;
    position: absolute;
    transition: .25s ease;
    background-color:rgba(0,0,0,0.1);
    color: white;
    &--active {
      top: 0rem;
    }
  }
}