.homepage-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  @media only screen and (max-width: 715px) {
    grid-template-columns: 1fr;
  }   
}

.homepage-header {
  font-weight: 100;
  color: #333;
  font-size: 3.5rem;
}

.homepage-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadeIn 2s;
}

.homepage-content {
  overflow: scroll;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  &_image-container {
    margin: 1px;
    perspective: 1000px;
    background-color: transparent;
    @media only screen and (max-width: 715px) {
      max-width: 100%; 
    }   
  }
  &_image {
    width: 100%;
    height: auto;
  }
}

.homepage-sidebar {
  color: #fff;
  background: #FFC0CB;
  height: 100vh;
  -webkit-box-shadow: 14px 17px 37px -28px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 17px 37px -28px rgba(0,0,0,0.75);
  box-shadow: 14px 17px 37px -28px rgba(0,0,0,0.75);
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
