.profile {
  &_avatar {
    max-width: 12rem;
    margin: 0 auto;
    overflow: hidden;
    padding: .5rem 0;
    &:hover { 
      cursor: pointer;
    }
  }
  &_avatar-icon {
    font-size: 3rem;
  }
  &_avatar-image {
    max-width: 12rem;
  }
  &_avatar-image-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    background-color:rgba(0,0,0,0.1);
    transition: .5s ease;
    &--active {
      height: 1rem;
    }
    &:hover { 
      cursor: pointer;
    }
  }
  &_available-art-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 3rem;
  }
  &_available-art-image {
    width: 100%;
    border-radius: 5px;
  }
  &_available-art-image-container {
    max-width: 32%;
    margin: .2rem;
    @media only screen and (max-width: 715px) {
      max-width: 85%;
    }
  }
  &_available-art-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    input {
      text-align: center;
    }
  }
  &_art-upload-zone {
    border: 1px dashed;
    max-width: 4.5rem;
    max-height: 4.5rem;
    border-radius: 50%;
    margin: 0 auto;
    transition: color .25s ease;
    &:hover {
      cursor: pointer;
      color: lightgrey;
    }
  }
  &_avatar-edit-icon {
    color: white;
    top: -1rem;
    position: absolute;
    transition: .5s ease;
    font-size: 10px;
    &--active {
      top: .25rem;
    }
  }
  &_loader {
    margin: 2rem;
    display: flex;
    justify-content: center;
  }
  &_file-upload-wrapper {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.profile-header {
  font-weight: 100;
}

.stripe-connect-button {
  &_description {
    font-style: italic;
    font-size: 10px;
    margin-bottom: 0;
  }
  // the actual stripe button size
  .fa-cc-stripe {
    font-size: 3rem;
    color: teal;
    transition: color .25s;
    &:hover {
      cursor: pointer;
      color: lightgray;
    }
  }
}
